@*@model IEnumerable<PhotoContext.Models.Picture>*@
@using PagedList.Mvc
@model PagedList.PagedList<PhotoContest.Web.Models.ViewModels.PictureDetailsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Pictures in contests: @Model.Count()</h2>

<div class="col-md-12">
    @foreach (var picture in Model)
    {
        @Html.Partial("~/Views/HomePage/_PicturePartial.cshtml", picture)
    }
</div>

<div class="col-md-9">
    <div class="center-block">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Photos
    </div>
</div>
