@model PhotoContest.Web.Models.ViewModels.ContestDetailsViewModel

<a href="@Url.Action("Details", "Contests",
        new {Contests = @Model.Id})" data-toggle="tooltip" data-placement="top" title="@Model.ContestStatus">@Model.Title</a>
        <p>Description: <b class="name">@Model.Description</b></p>
        <p>Organizer: <b class="name">@Model.Organizer.Username</b></p>
        <p>Status: <b class="name">@Model.ContestStatus.ToString()</b></p>
        <p>Participants: <b class="name">@Model.PicturesCount</b></p>
        <p>Photos in contest: <b class="name">@Model.PicturesCount</b></p>
        <br />