@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<PhotoContest.Web.Models.ViewModels.ContestDetailsViewModel>

@{
    ViewBag.Title = "Contests";
}

<h2>All contests:</h2>

<div class="col-md-12">
    @foreach (var contest in Model)
    {
        @Html.Partial("~/Views/Contests/_AllContests.cshtml", contest);
    }
</div>
<br />

<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>

<div class="col-md-9">
    <div class="center-block">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Contests", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Contests
    </div>
</div>

<div id="create-context-link">
    @Html.ActionLink("Create contest", "Create", "Contests")
</div>

<aside id="create-Contest">
    @Html.Action("Create", "Contests");
</aside>