@model IQueryable<PhotoContest.Web.Models.ViewModels.PictureDetailsViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Photos</h2>

<div>
    <h4>Details</h4>
    <hr/>

    <dl class="dl-horizontal">

        @foreach (var picture in Model)
        {
            <h5>Author:</h5>
            <dt>
                @Html.DisplayNameFor(model => picture.Author.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => picture.Author.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => picture.Author.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => picture.Author.Username)
            </dd>
            <div class="large">
                <img src="~/./Images/@picture.ImageURL" alt="image" />
            </div>
            
            <dt>
                @Html.DisplayNameFor(model => picture.VotesCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => picture.VotesCount)
            </dd>
            
            <div class="votebtns">
                @using (Html.BeginForm("Vote", "Pictures", new { id = picture.Id }, FormMethod.Post))
                {
                    @Html.HiddenFor(model => picture.VotesCount, new { Value = picture.VotesCount += 1 })
                    <input type="image" class="vote" src="@Url.Content("~/Content/Images/like.png")">
                }
            </div>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
